# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# output
/dist
/build
/coverage
*.tsbuildinfo

# secrets
.env
.env*.local
*.pem
certs/
creds.json
.clasp.json
.clasp.json.prod

# editors
.idea
.vscode

# misc
.DS_Store
